body{
    box-sizing: border-box;
    max-width: 50%;
    background-color: rgb(209, 210, 223);
    margin: auto;
}
#id1{
    width: 288px;
    border: ipx solid black;
    height: 320px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgb(240, 255, 255);
}
p{
    display: block;
    margin-block-end: 3em;
    margin-block-start: 3em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
p.screen{
    font-size: 40px;
    text-align: right;
    padding: 0 15px;
    margin: 15px 0;
}

.number-buttons{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-bottom:5px;
    width: 190px;
    height: 60px;
}
.operation-buttons{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 30px;
    height: 160px;
}
.number-buttons>button{
    width: 150px;
}
.operation-buttons>button{
    width: 90px;
    height: 60px;
}
.operation-buttons>button:hover{
    background-color: rgba(0, 115, 255, 0.68);
    font-size: 200%;
    width: 90px;
    height: 60px;
}
.number-buttons>button:hover{
    background-color: rgba(253, 131, 208, 0.68);
    font-size: 200%;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: left;
    margin: 0%;
}
.operator{
    background-color: rgba(0, 115, 255, 0.397);
}
.double-width{
    width: 505px;
    margin-left: 35px;
    height: 50;
}
.margin0{
    margin-left: 37px;
}
button{
    border-radius: 5px;
}